/*CSS FOR DATE AND TIME iFRAME STARTS*/
.dateTime{
	text-align: center;
}
/*CSS FOR DATE AND TIME iFRAME ENDS*/



/*CSS FOR NAVIGATION BAR STARTS*/

/*styling and positioning header and navigation bar*/
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
	border-radius: 5px 5px 20px 20px;
	background-color: white;
	padding: 0 10px;
	border-bottom:4px solid;
	position: sticky;
	top:0;
	z-index: 2;
}

/*customizing navigation bar links*/
nav ul a{
	margin:0 10px;
	text-decoration: none;
	font-family: 'Kreon', serif;
	font-size: 20px;
	color:black;
	transition: .4s;
}

/*sttyling menu items on hover*/
nav ul a:hover{
	font-size: 1.7em;
	font-weight: bold;
}

/*adjusting position of menu items*/
nav ul{							
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

/*removing list bullets*/
li{
	list-style-type: none;
}
/*CSS FOR NAVIGATION BAR ENDS*/




/*CSS FOR SITE'S NAME STARTS*/
nav a{
	margin-left: 10px;
	font-size: 35px;
	font-family: 'Gugi', cursive;
	text-decoration: none;
	color: black;
	margin: 20px 0 20px 10px;
}
/*CSS FOR SITE'S NAME ENDS*/




/*CSS FOR SEARCH BAR STARTS*/

/*positioning the search bar*/
form{
	margin:25px 0;
}

/*customizing search bar*/
nav input[name=Bar]{
	padding:5px 15vw 5px 5px;
	border-color: black;
	border-radius: 5px;
	border:2px solid ;
	font-family: 'Kreon', serif;
}

/*customizing search button*/
nav input[name=Button]{
	padding: 6px 10px;
	background-color: black;
	color: white;
	border-style: none;
	transition: all 1s ease;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Kreon', serif;
}

/*creating effects in search button on hover*/
nav input[name=Button]:hover{

	background-color: white;
	border:1px solid black;
	color:black;
}
/*CSS FOR SEARCH BAR ENDS*/



/*CSS FOR RESPONSIVE SEARCH ICON STARTS*/

/*styling google search icon*/
.search-icon{
	margin:28px 0 0 10px;
	cursor: pointer;
	display: none;
}

/*styling search icon on hover*/
.search-icon:hover{
	color:gray;
}
/*CSS FOR RESPONSIVE SEARCH ICON ENDS*/




/*CSS FOR POPPING UP SEARCH BAR STARTS*/

/*customizing popup search bar background and position*/
.popup-search{
	position: fixed;
	top:1;
	left:0;
	right:0;
	width:100%;
	background: black;
	text-align: center;
	color: white;
	display: none;
	border-radius: 50px;
	z-index: 3;
}

/*customizing responsive popup search button*/
.popup-search input[name=Button]{
	padding: 6px 10px;
	background-color: white;
	color: black;
	border-style: none;
	transition: all 1s ease;
	cursor: pointer;
	border-radius: 5px;
}

/*creating effects on responsive popup search button on hover*/
.popup-search input[name=Button]:hover{
	background-color: black;
	border:1px solid white;
	color:white;	
}

/*customizing responsive popup search bar*/
.popup-search input[name=Bar]{
	padding:5px 15vw 5px 5px;
	border-color: white;
	border-radius: 5px;
	margin-bottom: 7px;
}

/*customizing close link in responsive pop-up search bar*/
.popup-search a{
	text-decoration: none;
	color:white;
	font-family: 'Kreon', serif;
}

/*sttyling close link in responsive pop-up search bar on hover*/
.popup-search a:hover{
	color:gray;
}
/*CSS FOR POPPING UP SEARCH BAR ENDS*/




/*CSS FOR MENU ICON STARTS*/

/*styling google menu icon*/
.menus{
	margin: 28px 10px 0 0;
	font-size: 20px;
	cursor: pointer;
	display: none;
}


/*styling google menu icon on hover*/
.menus:hover{
	color:gray;
}
/*CSS FOR MENU ICON ENDS*/




/*CSS FOR RESPONSIVE SIDE BAR STARTS*/
.sidebar {
	background: black;
	position: fixed;
	top:0;
	width: 0;
	right: 0;
	height: 100%;
	padding:0;
	opacity: 0.8;
	transition: 1s;
	z-index: 3;
}

/*removing bullets on link lists and adjusting margins*/
.sidebar li{
	list-style-type: none;
	margin:15px 0;
}


/*styling responsive sidebar links */ 
.sidebar a{
	text-decoration: none;
	font-family: 'Kreon', serif;
	font-size: 20px;
	color:white;
}


/*styling responsive sidebar links on hover*/
.sidebar a:hover{
	font-weight: bold;
}


/*customizing sidebar cancel button */
.sidebar .close{
	font-size: 50px;
	color: white;
	margin-left: 5px;
	cursor: pointer;
}


/*stying sidebar cancel button on hover*/
.close:hover{
	color: red; 
}
/*CSS FOR RESPONSIVE SIDE BAR ENDS*/



/*CSS FOR FOOTER PART STARTS*/

/*customizing whole footer div*/
footer{
	padding:50px 0;
	width:100%;
	background-color: #191919;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 10px 10px 0 0;
	margin-top: 20px;
}

/*defining margins for all spans on footer*/
footer div{
	margin:0 10px;
}

/*customixing icons on footer part*/
footer i{
	font-size: 15px;
	margin:0 10px 0 0;
}

/*customizing google icons on footer part*/
footer .material-icons{
	font-size: 15px;
}

/*customizing footer titles*/
footer h3{
	color: white;
	font-family: 'Gabriela', serif;
	margin-left:40px;
}

/*customizing footer links*/
footer a{
	text-decoration: none;
	color: gray;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 18px;
}

/*defining margins for footer list items*/
footer li{
	margin: 5px 0;
}

/*changing color of footer links on hover*/
footer a:hover{
	color: white;
}

/*customizing subscribe butoon*/
footer input[name=Button]{
	padding: 6px 10px;
	background-color: red;
	color: white;
	border-style: none;
	transition: .8s;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

/*customizing subscribe butoon on hover*/
footer input[name=Button]:hover{
	background-color: white;
	color:black;	
}

/*csutomizing input space for email*/
footer input[name=Email]{
	padding:5px 10vw 5px 5px;
	border-color: white;
	border-radius: 5px;
}

/*customizing last footer items*/
.Last{
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding:5px 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	border-radius: 0 0 10px 10px;
}

/*customizing last footer items span and links*/
.Last div, .Last a{
	color: gray;
	text-decoration: none;
}

/*defining margins for last footer items*/
.Terms {
	margin: 16px 0 15px;
}

/*customizing last footer items on hover*/
.Terms a:hover{			
	color: white;
}

/*CSS FOR FOOTER PART ENDS*/