
/*ADDING MEDIA QUERIES TO MAKE THE PAGE RESPONSIVE*/



/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000PX STARTS*/
@media screen and (max-width: 1000px){

	.menus{						/*showing menu icon*/
		display: block;
	}

	nav ul{						/*hiding navbar menus*/
		display: none;
	}

}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000PX ENDS*/




/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760PX STARTS*/
@media screen and (max-width: 760px){

	nav form{
		display: none;			/*hiding search bar*/
	}

	.search-icon{				/*displaying search icon*/
		display: block;
		order: 1;
	}

	nav a{							
		order:2;				
	}	
								/*ordering navbar flex items*/
	.menus{
		order:3;
	}
	
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760PX ENDS*/



/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 535PX STARTS*/
@media screen and (max-width: 535px){
	
  	footer{
		flex-direction: column;	/*changing flex direction of last footer flex items*/
	}

	footer input[name=Email]{	/*defining margin for email bar in subscribe menu*/
		margin-left: 35px;
	}

}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 535PX ENDS*/
