
/*ADDING MEDIA QUERIES TO MAKE THE PAGE RESPONSIVE*/

@media screen and (max-width: 1250px){

 	.news-4 , .news-5{				/*hiding 4th ,5th and 6th section of news contents*/
		display: none;
	}

}

/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000PX STARTS*/
@media screen and (max-width:1000px ){

	main{

		grid-template-columns: 100%;			/*efining width of main grid container*/
	}

	.Recent{									/*adjusting position of recent newssection*/
		
		grid-row-start: 2;
		grid-column-start: 1;
		margin-top: 25px;
	}

	.MostPopular, .Trending, .Recent{			/*adding shoadow and borders in news sections*/
		box-shadow: none;
		border-bottom: 1px solid black;
		border-radius: 0 0 15px 15px;
	}

	.Breaking{									/*setting transparent border for breaking news section*/
		border:1px solid transparent;
	}

}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000PX ENDS*/




/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760PX STARTS*/
@media screen and (max-width: 760px){

	.InnerContainer{							/*setting width of inner grid container*/
		grid-template-columns: 100%;
	}

	main{									/*removing margings on main grid container*/
		margin-left: 0;
		margin-right: 0;
	}

	.OurTeam{									/*reducing number of columns in "our team" grid container*/
		grid-template-columns: auto auto;
	}
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760PX ENDS*/




@media screen and (max-width: 535px){

	.OurTeam{									/*reducing number of columns in "our team" grid container*/
		grid-template-columns: auto;
	}
	
	.slides p{									/*adjusting the font size of breaking news content*/
		font-size: 13px;
	}
}