/*CSS FOR HEADING STARTS*/
.heading{
	text-align: center;
	font-size: 2vw;
	font-family: 'Signika', sans-serif;
	text-decoration: underline;
	text-decoration-style:double;
}
/*CSS FOR HEADING ENDS*/


/*customizing main grid container*/
main{
	margin: 40px 0 0 0;
	display: grid;
	grid-template-columns: auto
}

/*customizing content sections*/
section{
	margin-top: 20px;
	display: grid;
	grid-template-columns: auto auto;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.61);
}

/*customizing codepen logo and fontawesome logo*/
.codepen img, .fontawesome img{
	width: 300px;
	height: 300px;
}

/*customizing w3schools logo*/
.w3schools img{
	width: 350px;
	height: 300px;
}

/*customizing details of the tutorials*/
section p{
	text-align: justify;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 18px;
}

/*customizing title of the tutorials*/
section h3{
	font-family: 'Signika', sans-serif;
	color: green;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 25px;
}

/*customizing show more link*/
.showmore a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Signika', sans-serif;
	color: gray;
}

/*customizing showmore link on hover*/
.showmore a:hover{
	color: red;
	text-decoration: underline;
}

/*positioning showmore link*/
.showmore{						
	text-align: center;
	margin-bottom: 5px;
	margin-top: 25px;
}
/*CSS FOR SHOW MORE LINK ENDS*/






/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760px STARTS*/
@media screen and (max-width: 760px){

	.heading{							/*adjusting font-size of heading*/
		font-size: 15px;
	}
	
	section{							/*reducing number of colums in section*/
		grid-template-columns: auto;
	}
	
	section img{
		order: 1;
	}
										/*ordering cotents in section in responsive view*/
	section div{
		order: 2;
	}
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760px ENDS*/