/*CSS FOR MAIN GRID CONTAINER STARTS*/

main{
	margin:20px 60px 0 60px;
	display: grid;
	grid-template-columns: 68.5% 30%;
	grid-column-gap: 1.5%;

}

/*customizing links/news in the main container*/
main a{
	text-decoration: none;
	color: black;
	font-family: 'Noto Sans JP', sans-serif;
	transition: 0.5s;
	font-size: 15px;
}

/*customizing links in the main container on mouse hover*/
main a:hover{
	color:green;
}

/*customizing links in the main container when mouse active*/
main a:active{
	color:red;
}
/*CSS FOR MAIN GRID CONTAINER ENDS*/



/*CSS FOR INNER GRID CONTAINER STARTS*/

.InnerContainer{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-column-gap: 2%;
	margin-top:20px;
}
/*CSS FOR INNER GRID CONTAINER ENDS*/



/*CSS FOR BREAKING NEWS BOX STARTS*/

.Breaking{
	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
	border-radius: 10px;
	position: relative;
	z-index: 1;
}

/*customizing images on breaking news section*/
.Breaking img{
	width:100%;
	border-radius: 10px;
}

/*customizing news content on breaking news section*/
.Breaking p{
	position: absolute;
	background:black;
	top:5%;
	opacity: 0.8;
	color: white;
	font-size: 2.2vw;
	width: 96%;
	padding: 2% 2% 2% 2%;
	font-family: 'Noto Sans JP', sans-serif;
	transition: 0.5s;
}

/*styling breaking news headline on hover*/
.Breaking p:hover{
	color: red;
}

/*creating animations for slideshow*/
.slides{
	animation-name: slides;
	animation-duration: 2s;
}

/*creating effects for slideshow*/
@keyframes slides{
	0%{
		opacity: 0.5;
	}

	100%{
		opacity: 1;
	}
}
/*CSS FOR BREAKING NEWS BOX ENDS*/



/*CSS FOR RECENT NEWS BOX STARTS*/

.Recent{
	grid-row: 1 / 3;
	grid-column-start: 2;
	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
	border-radius: 8px;
}

/*adjusting position of title on Recent News Section*/
.Recent p{
	margin:	0 9vw 0 9vw;
}
/*CSS FOR RECENT NEWS BOX ENDS*/



/*CSS FOR TRENDING NEWS BOX STARTS*/

.Trending{
	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
	border-radius: 8px;
}

/*adjusting position of title on Trending News Section*/
.Trending p{
	margin:	0 10vw 0 10vw;
}

/*CSS FOR TRENDING NEWS BOX ENDS*/



/*CSS FOR MOST POPULAR NEWS BOX STARTS*/

.MostPopular{
	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
	border-radius: 8px;
}

/*adjusting position of title on Most Popular News Section*/
.MostPopular p{
	margin:	0 10vw 0 10vw;

}
/*CSS FOR MOST POPULAR NEWS BOX ENDS*/



/*COMMON CSS FOR CONTENTS ON MAIN GRID CONTAINER STARTS*/

/*customizing heading of each section in the main grid container*/
.MostPopular p, .Trending p, .Recent p{
	padding: 5px 0;
	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: center;
	font-size: 18px;
	background-color: black;
	border-radius: 0 0 10px 10px;
	color: white;
	background:black;
} 

/*adjusting image size and position in each section*/
.news-1 img, .news-2 img, .news-3 img, .news-4 img, .news-5 img, .news-6 img, .news-7 img{
	width: 100px;
	margin:15px 10px;
}

/*customizing position of news content in each section*/
main h4{
	margin: -100px 10px 35px 125px;
}

/*customizing time and date text under the news*/
main h6{
	margin: -32px 10px 35px 125px;
	font-family: 'Signika', sans-serif;
	color:#2d2f33;
	font-weight: lighter;
}

/*customizing "show more" link in each section*/
main h5{
	text-align: center;
	color: blue;
	font-family: 'Ubuntu Condensed', sans-serif;
}

/*customizing "show more" link on hover*/
main h5:hover{
	text-decoration: underline;
}
/*COMMON CSS FOR CONTENTS ON MAIN GRID CONTAINER STARTS*/




/*CSS FOR ABOUT US SECTION STARTS*/

/*customizing position and text align in about us section*/
.About{
	margin:2% 25% 2% 25%;
	text-align: center;
}

/*customizing "About Us" title*/
.About h2{
	text-decoration: underline;
	font-family: 'Gabriela', serif;
	font-weight: bold;
}

/*customizing the contents of about us section*/
.About p{
	font-family: 'Barlow', sans-serif;
	font-size: 15px;
}

/*customizing "Show More" and "Show Less" button*/
.About > #showmore, #showless{
	color: blue;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	font-size: 15px;
	cursor: pointer;
	font-weight: lighter;
}

/*hiding "Show Less" button*/
.About #showless{
	display: none;	
}

/*hiding the cotent previously which will be displayed using javascript when show more is pressed*/
.About #reveal{
	display: none;
}
/*CSS FOR ABOUT US SECTION ENDS*/




/*CSS FOR OUR TEAM SECTION STARTS*/

/*customizing position and text align in "Our Team " section*/
.Team{
	margin:0 10% 2% 10%;
	text-align: center;
}

/*customizing "Our Team" title*/
.Team h2{
	text-decoration: underline;
	font-family: 'Gabriela', serif;
	font-weight: bold;
}

/*customizing images in our team section*/
.Team img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:2px solid black;
	transition: 0.5s;
}

/*keeping shadow on images in our team on hover*/
.Team img:hover{
	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
}

/*styling links in our team section*/
.Team .showall{
	font-family: 'Barlow', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: blue;
}

/*customizing staffs' information section*/
.OurTeam{
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
	margin-top: 3%;
	flex-wrap: wrap;
	font-family: 'Barlow', sans-serif;
}

/*adjusting postion of the " Staff's post" text*/
.OurTeam h4{
	margin-top:-0.5px;
}

/*customizing "Staff's name" text*/
.OurTeam h5{
	margin-top: -10px;
	font-weight: lighter;
}
/*CSS FOR OUR TEAM SECTION ENDS*/
