/*CSS FOR BODY STARTS*/

body{
	margin:0 20px;
}
/*CSS FOR BODY ENDS*/


/*CSS FOR NAVIGATION BAR STARTS*/

.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*customizing navigation bar links*/
.navbar a{
	margin:0 10px;
	text-decoration: none;
	font-family: 'Cabin Sketch', sans-serif;
	font-size: 20px;
	color:black;
	transition: all 1s ease;
	

}

/*increasing font-size of menu items on hover*/
.navbar a:hover{
	font-size: 2em;
	font-weight: bold;
}

/*adjusting position of menu items*/
ul{							
	margin: 30px  20px 0 0;
	display: flex;
	flex-direction: row;
}

/*customizing list menu items*/
li{
	list-style-type: none;
}

/*CSS FOR NAVIGATION BAR ENDS*/


/*CSS FOR SITE'S NAME STARTS*/

h1{
	margin-left: 10px;
	font-size: 30px;
	font-family: 'Fredericka the Great', cursive;
}

/*CSS FOR SITE'S NAME ENDS*/


/*CSS FOR SEARCH BAR STARTS*/

form{
	margin:25px 0;
}

input[name=Bar]{
	padding:5px 200px 5px 5px;
	border-color: black;
	border-radius: 5px;
}

input[name=Button]{
	padding: 6px 10px;
	background-color: black;
	color: white;
	border-style: none;
	transition: all 1s ease;
	cursor: pointer;
	border-radius: 5px;
}

input[name=Button]:hover{

	background-color: white;
	border:1px solid black;
	color:black;
}

/*CSS FOR SEARCH BAR ENDS*/


/*CSS FOR MAIN GRID CONTAINER STARTS*/

.Container{
	margin:20px 60px;
	display: grid;
	grid-template-columns: 70% 28.5%;
	grid-template-rows: 50vh 40vh;
	grid-column-gap: 1.5%;
	grid-row-gap: 2.5%;
}

/*CSS FOR MAIN GRID CONTAINER ENDS*/


/*CSS FOR INNER GRID CONTAINER STARTS*/

.InnerContainer{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-column-gap: 2%;
}

/*CSS FOR INNER GRID CONTAINER ENDS*/


/*CSS FOR MOST RECENT NEWS BOX STARTS*/

.Breaking{
	box-shadow: 2px 3px 33px -13px rgba(0,0,0,0.75);
	border-radius: 10px;
}

/*CSS FOR MOST RECENT NEWS BOX ENDS*/


/*CSS FOR RECENT NEWS BOX STARTS*/

.Recent{
	overflow: hidden scroll;
	grid-row: 1 / 3;
	grid-column-start: 2;
	box-shadow: 2px 3px 33px -13px rgba(0,0,0,0.75);
}

/*CSS FOR RECENT NEWS BOX ENDS*/


/*CSS FOR TRENDING NEWS BOX STARTS*/

.Trending{
	overflow: hidden scroll;
	box-shadow: 2px 3px 33px -13px rgba(0,0,0,0.75);
}

/*CSS FOR TRENDING NEWS BOX ENDS*/


/*CSS FOR MOST POPULAR NEWS BOX STARTS*/

.MostPopular{
	overflow: hidden scroll;
	box-shadow: 2px 3px 33px -13px rgba(0,0,0,0.75);
}

/*CSS FOR MOST POPULAR NEWS BOX ENDS*/
