/*CSS FOR HEADING STARTS*/
.heading{
	text-align: center;
	font-size: 2vw;
	font-family: 'Signika', sans-serif;
}
/*CSS FOR HEADING ENDS*/



/*CSS FOR COMPARISON WINDOW STARTS*/

/*cutomizing labels on job labels*/
.compare label{			
	margin-right: 5px;
	font-weight: bold;
}

/*customizing compare div as a whole*/
.compare{
	font-family: 'Roboto Condensed', sans-serif;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.61);
	margin-top: 25px;
	padding:10px;
	margin:3% 20% 0 20%;
}

/*customizing comparison heading*/
.compare h2{
	text-align: center;
	color: green;
}
/*CSS FOR COMPARISON WINDOW ENDS*/



/*CSS FOR SHOW MORE LINK STARTS*/

/*customizing show more link*/
.showmore a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Signika', sans-serif;
	color: gray;
}

/*customizing showmore link on hover*/
.showmore a:hover{
	color: red;
	text-decoration: underline;
}

/*positioning showmore link*/
.showmore{						
	text-align: center;
	margin-bottom: 5px;
	margin-top: 25px;
}
/*CSS FOR SHOW MORE LINK ENDS*/



/*CSS FOR HTML FORM STARTS*/

/*customizing filedset*/
fieldset input{
	margin-bottom: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	border-style: none;
	padding:10px;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.75);
	font-size: 15px;
	margin-top:5px;
}

/*styling input areas and text area on hover*/
fieldset input:hover, textarea:hover{
	box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
}

/*setting background color for fieldset*/
fieldset{
	background-color: #EEEEEE;
}

/*customizing file input sections*/
fieldset input[type="file"]{
	border:1px solid;
	padding: 7px;
	width: 200px;
}

/*customizing submit and reset button*/
fieldset input[type="submit"],input[type="reset"]{
	width:60px;
	padding: 7px 0;
	border-radius: 0;
	box-shadow: none;
	border-radius: 5px;
	cursor: pointer;
	border:1px solid;
}


/*customizing option selector*/
fieldset select{
	padding:10px;
	border-style: none;
	margin-bottom: 15px;
	margin-top:5px;
	border-radius: 5px;
	box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.75);
}

/*customizing text area*/
fieldset textarea{
	margin-bottom: 15px;
	margin-top: 15px;
	padding:10px;
	width: 70%;
	font-family: 'Roboto Condensed', sans-serif;
	height: 140px;
	border-style: none;
	box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.75);
	border-radius: 10px;
	font-size: 15px;
}

/*customizing labels*/
fieldset label{
	font-family: 'Roboto Condensed', sans-serif;
}

/*customizing legend of HTML form*/
legend{
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 10%;
	font-size: 25px;
	font-weight: bold;
}

/*customizing fieldset as a whole*/
fieldset{
	margin-top: 30px;
}
/*CSS FOR HTML FORM ENDS*/



/*CSS FOR TERMS AND CONDITIONS LINK ON HTML FORM STARTS*/

/*customizing terms and condition link*/
.terms a{
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
}

.terms a:hover{
	color: blue;
}

.terms{
	margin: 10px 0;
}
/*CSS FOR TERMS AND CONDITIONS LINK ON HTML FORM ENDS*/



/*/CSS FOR MAIN GRID CONTAINER STARTS*/
section{
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.61);
	padding:15px;
}

/*styling job title*/
section h3{
	font-family: 'Signika', sans-serif;
	color: purple;
	font-size: 25px;
}

/*styling show more link*/
section h5{
	font-family: 'Roboto Condensed', sans-serif;
	color: blue;
	font-size: 15px;
	text-align: center;
	font-weight: lighter;
	cursor: pointer;
}

/*styling contents of main*/
section p{
	font-family: 'Roboto Condensed', sans-serif;
}

/*customizing the container as a whole*/
main{
	display: grid;
	grid-template-columns: 35% 35%;
	justify-content:space-evenly;
}
/*CSS FOR MAIN GRID CONTAINER ENDS*/





/*ADDING MEDIA QUERIES TO MAKE THE PAGE RESPONSIVE*/


/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000px STARTS*/
@media screen and (max-width: 1000px){

	main{								/*reducing no of colums in main grid container*/
		grid-template-columns: 70%;
	}

	section{							/*adjusting margin for section*/
		margin-top: 25px;
	}
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000px ENDS*/



/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 535px STARTS*/
@media screen and (max-width: 535px){

	.heading{
		font-size: 20px;				/*adjusting font-size of page heading*/
	}

	main{
		grid-template-columns: 100%;	/*increasing width of grid elements*/
	}

	.compare{							/*adjusting margin for camparison box*/
		margin:25px 0 0 0;
	}


}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 535px ENDS*/