/*CSS FOR HEADING STARTS*/
.heading{
	text-align: center;
	font-size: 3vw;
	font-family: 'Signika', sans-serif;
}
/*CSS FOR HEADING ENDS*/



/*CSS FOR MAIN GRID CONTAINER STARTS*/

/*customizing main grid container*/
main{
	margin: 40px 0 0 0;
	display: grid;
	grid-template-columns: auto
}

/*customizing content sections*/
section{
	margin-top: 20px;
	display: grid;
	grid-template-columns: auto auto;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.61);
}

/*customizing details of the tutorials*/
section p{
	text-align: justify;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 18px;
}

/*customizing title of the tutorials*/
section h3{
	font-family: 'Signika', sans-serif;
	color: green;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 25px;
}

/*removing border from Youtube videos iframe*/
iframe{
	border:none;	
}
/*CSS FOR MAIN GRID CONTAINER ENDS*/



/*CSS FOR SHOW MORE LINK STARTS*/

/*customizing show more link*/
.showmore a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Signika', sans-serif;
	color: gray;
}

/*customizing showmore link on hover*/
.showmore a:hover{
	color: red;
	text-decoration: underline;
}

/*positioning showmore link*/
.showmore{						
	text-align: center;
	margin-bottom: 5px;
	margin-top: 25px;
}
/*CSS FOR SHOW MORE LINK ENDS*/





/*ADDING MEDIA QUERIES TO MAKE THE PAGE RESPONSIVE*/


/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000px STARTS*/
@media screen and (max-width: 1000px){

	section{								/*reducing no of colums in main grid container*/
		grid-template-columns: auto;
	}
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 1000px ENDS*/



/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760px STARTS*/
@media screen and (max-width: 760px){

	iframe{								/*reducing no of colums in main grid container*/
		width:100%;
	}

	.heading{							/*adjusting font-size of heading*/
		font-size: 25px;
	}
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 760px ENDS*/



/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 535px STARTS*/
@media screen and (max-width: 535px){

	section iframe{								/*reducing no of colums in main grid container*/
		height: 240px;
	}
}
/*MEDIA QUERY FOR SCREEN SIZE LESS THAN 535px ENDS*/